<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>MercadoLiebre</title>
        <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
        <link rel="stylesheet" href="css/styles-copy.css">
    </head>
    <body>        
        <header>
            <div class="top-header">
                <div class="logo">
                    <img src="images/logo-mercado-liebre.svg" alt="Logo de MercadoLiebre" width="200px">
                </div>
                <div class="search">
                    <div class="search-bar">Buscar productos, marcas y más</div>
                    <div class="lupa"><i class="fa fa-search lens"></i></div>
                </div>
                <p class="text"><i class="fa-solid fa-hand-holding-dollar"></i> Comprá en cuotas y sin tarjeta de crédito</p> 
            </div>          
            <nav>
                <ul class="text">
                    <li><a href="#">Ofertas</a></li>
                    <li><a href="#">Tiendas Oficiales</a></li>
                    <li><a href="#">Vender</a></li>
                    <li><a href="#">Ayuda</a></li>
                </ul>
                <ul class="text">
                    <li><a href="register">Creá tu cuenta<i class="fa-regular fa-id-card"></i></a></li>                
                    <li><a href="login">Ingresá<i class="fa-solid fa-right-to-bracket"></i></a></li>
                    <li><a href="#">Mis compras<i class="fa-solid fa-basket-shopping"></i></a></li>
                </ul>            
            </nav>
            <div style="text-align: center">
                <i class="fas fa-bars burger-menu"></i>
            </div>
            <section class="banner">
                <img src="images/img-home-banner.jpg" alt="Banner" width="100%">
            </section>
        </header>
        <main>
            <div class="last-visit">
                <h3>Basado en tu última visita</h3>
                <section class="products">
                    <article class="card">
                        <img src="images/img-cafetera-moulinex.jpg" alt="img-cafetera" width="200px">
                        <div class="main-article">
                            <i class="fa-solid fa-truck truck"></i>
                            <div class="price-discount">
                                <p class="price">$6.770</p>
                                <p class="discount">40% off</p>
                            </div>
                            <p class="description">Cafetera Moulinex</p>
                        </div>
                    </article>
                    <article class="card">
                        <img src="images/img-macbook-pro-2019.jpg" alt="img-macbook" width="200px">
                        <div class="main-article">
                            <i class="fa-solid fa-truck truck"></i>
                            <div class="price-discount">
                                <p class="price">$230.000</p>
                                <p class="discount">20% off</p>
                            </div>
                            <p class="description">MacBook Pro 2019</p>
                        </div>
                    </article>
                    <article class="card">
                        <img src="images/img-samsung-galaxy-s10.jpg" alt="img-galaxy-s10" width="200px">
                        <div class="main-article">
                            <i class="fa-solid fa-truck truck"></i>
                            <div class="price-discount">
                                <p class="price">$70.500</p>
                                <p class="discount">10% off</p>
                            </div>
                            <p class="description">Samsung Galaxy S10</p>
                        </div>
                    </article>
                    <article class="card">
                        <img src="images/img-tv-samsung-smart.jpg" alt="img-tv-smart" width="200px">
                        <div class="main-article">
                            <i class="fa-solid fa-truck truck"></i>
                            <div class="price-discount">
                                <p class="price">$23.200</p>
                                <p class="discount">5% off</p>
                            </div>
                            <p class="description">SmartTv Samsung 43"</p>
                        </div>
                    </article>
                </div>
            </section>
            <section class="offers">
                <h3>Ofertas</h3>
                <div class="productos">
                    <article class="card">
                        <img src="images/img-cafetera-moulinex.jpg" alt="img-cafetera" width="200px">
                        <div class="main-article">
                            <i class="fa-solid fa-truck truck"></i>
                            <div class="price-discount">
                                <p class="price">$6.770</p>
                                <p class="discount">40% off</p>
                            </div>
                            <p class="description">Cafetera Moulinex</p>
                        </div>
                    </article>
                    <article class="card">
                        <img src="images/img-macbook-pro-2019.jpg" alt="img-macbook" width="200px">
                        <div class="main-article">
                            <i class="fa-solid fa-truck truck"></i>
                            <div class="price-discount">
                                <p class="price">$230.000</p>
                                <p class="discount">20% off</p>
                            </div>
                            <p class="description">MacBook Pro 2019</p>
                        </div>
                    </article>
                    <article class="card">
                        <img src="images/img-samsung-galaxy-s10.jpg" alt="img-galaxy-s10" width="200px">
                        <div class="main-article">
                            <i class="fa-solid fa-truck truck"></i>
                            <div class="price-discount">
                                <p class="price">$70.500</p>
                                <p class="discount">10% off</p>
                            </div>
                            <p class="description">Samsung Galaxy S10</p>
                        </div>
                    </article>
                    <article class="card">
                        <img src="images/img-tv-samsung-smart.jpg" alt="img-tv-smart" width="200px">
                        <div class="main-article">
                            <i class="fa-solid fa-truck truck"></i>
                            <div class="price-discount">
                                <p class="price">$23.200</p>
                                <p class="discount">5% off</p>
                            </div>
                            <p class="description">SmartTv Samsung 43"</p>
                        </div>
                    </article>
                </div>
            </section>
        </main>
        <footer>
            <article class="art-footer">
                <i class="fa-solid fa-credit-card footer-icon"></i>
                <h4>Pagá con tarjeta o efectivo</h4>
                <p class="footer-text">Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!</p>
            </article>
            <article class="art-footer">
                <i class="fa-solid fa-gift footer-icon"></i>
                <h4>Envío gratis desde $2.500</h4>
                <p class="footer-text">Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de Mercado Puntos.</p>
            </article>
            <article class="art-footer">
                <i class="fa-solid fa-user-shield footer-icon"></i>
                <h4>Seguridad, de principio a fin</h4>
                <p class="footer-text">¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre protegid@.</p>
            </article>
            <article>
                <p class="footer-text">Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
            </article>
        </footer>
    </body>
