<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado Liebre</title>
</head>
<body>
    <header>
        <img width="300px" src="images/logo-mercado-liebre.svg" alt="Logo MercadoLiebre">
        <p>Barra de búsqueda</p>         
        <p>Comprá en cuotas y sin tarjeta de crédito</p> 
    <nav>
        <ul>
            <li><a href="#">Ofertas</a></li>
            <li><a href="#">Tiendas Oficiales</a></li>
            <li><a href="#">Vender</a></li>
            <li><a href="#">Ayuda</a></li>
        </ul>
    </nav>
    <nav>
        <ul>
            <li><a href="#">Creá tu cuenta</a></li>
            <li><a href="#">Ingresá</a></li>
            <li><a href="#">Mis compras</a></li>
        </ul>
    </nav>
    </header>
    <main>
        <img width="300px" src="images/img-home-banner.jpg" alt="Banner home">
        <section>
            <h3>Basado en tu última visita</h3>
            <article>
                <img width="300px" src="images/img-cafetera-moulinex.jpg" alt="Imagen cafetera Moulinex">
                <p>$6.770</p>
                <p>40% OFF</p>
                <h4>Cafetera Moulinex</h4>
            </article>
            <article>
                <img width="300px" src="images/img-macbook-pro-2019.jpg" alt="Imagen MacBook">
                <p>$230.000</p>
                <p>20% OFF</p>
                <h4>MacBook Pro 2019</h4>
            </article>
            <article>
                <img width="300px" src="images/img-samsung-galaxy-s10.jpg" alt="Imagen Samsung Galaxy S10">
                <p>$70.500</p>
                <p>10% OFF</p>
                <h4>Samsung Galaxy S10</h4>
            </article>
            <article>
                <img width="300px" src="images/img-tv-samsung-smart.jpg" alt="Imagen Samsung Smart TV">
                <p>$23.200</p>
                <p>5% OFF</p>
                <h4>SmartTv Samsung 43"</h4>
            </article>
        </section>
        <section>
            <h3>Ofertas</h3>
            <article>
                <img width="300" src="images/img-cafetera-moulinex.jpg" alt="Imagen cafetera Moulinex">
                <p>$6.770</p>
                <p>40% OFF</p>
                <h4>Cafetera Moulinex</h4>
            </article>
            <article>
                <img width="300" src="images/img-macbook-pro-2019.jpg" alt="Imagen MacBook">
                <p>$230.000</p>
                <p>20% OFF</p>
                <h4>MacBook Pro 2019</h4>
            </article>
            <article>
                <img width="300" src="images/img-samsung-galaxy-s10.jpg" alt="Imagen Samsung Galaxy S10">
                <p>$70.500</p>
                <p>10% OFF</p>
                <h4>Samsung Galaxy S10</h4>
            </article>
            <article>
                <img width="300" src="images/img-tv-samsung-smart.jpg" alt="Imagen Samsung Smart TV">
                <p>$23.200</p>
                <p>5% OFF</p>
                <h4>SmartTv Samsung 43"</h4>
            </article>
        </section>
    </main>
    <footer>
        <ul>
            <li><h4>Pagá con tarjeta o en efectivo</h4>
            <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o en efectivo en puntos de pago. ¡Y siempre es seguro!</p></li>
            <li><h4>Envío gratis desde $2.500</h4>
            <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de Mercado Puntos</p></li>
            <li><h4>Seguridad, de principio a fin</h4>
            <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre protegid@.</p></li>
            <li><p>Copyright © 1999-2020 MercadoLiebre S.R.L.</p></li>
        </ul>
    </footer>  
</body>
</html>
