<!DOCTYPE html>

<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado Liebre</title>
    <link rel="stylesheet" href="css/login.css">
    <link rel="stylesheet" href="css/styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&family=Roboto:wght@300;400&display=swap">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
</head>

<body>
    <header>
        <form action="/" method="get">
            <h4>Registro de Usuario</h4>
                <label for="nombreyapellido">Nombre y Apellido</label>
                <input type="text" name="nombreyapellido" id="nombreyapellido" required><br> 
                       
                <label for="nombreusuario">Nombre de usuari@</label>
                <input type="text" name="nombreusuario" id="nombreusuario" required><br>
        
                <label for="fechanac">Fecha de nacimiento</label>
                <input type="date" name="fechanacimiento" id="fechanac" required><br>
        
                <label for="domicilio">Domicilio</label>
                <input type="text" name="domicilio" id="domicilio" required><br>
        
                <label for="perfildeusuario">Seleccione perfil de usuario</label> <br>
                <input type="radio" name="perfildeusuario" value="Vendedor">Vendedor <br>
                <input type="radio" name="perfildeusuario" value="Comprador" checked>Comprador <br>
                
                <label for="categorias">Categorías de interés</label> <br>
                <input type="checkbox" name="categoria" value="Electro">Electro <br>
                <input type="checkbox" name="categoria" value="Moda">Moda <br>
                <input type="checkbox" name="categoria" value="Hogar">Hogar <br>
                <input type="checkbox" name="categoria" value="Jugueteria">Juguetería <br>
                <input type="checkbox" name="categoria" value="Vida-sana">Vida sana <br>
        
                <label for="fotousuario">Foto de perfil</label>
                <input type="file" name="fotousuario" id="fotousuario" accept=".jpg" required> <br>
        
                <label for="password">Contraseña</label>
                <input type="password" name="password" id="password" required> <br>
        
                <label for="password-confirm">Confirmar contraseña</label>
                <input type="password" name="passwordconfirm" id="password-confirm" required> <br>
        
                <label for="boton"></label>
                <input type="reset" name="reset" value="Borrar" id="boton">
                <input type="submit" name="submit" value="Enviar" id="boton">
        </form>
    </header>
</body>





