<!DOCTYPE html>

<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado Liebre</title>
    <link rel="stylesheet" href="css/styles.css">
    <link rel="stylesheet" href="css/register.css">    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&family=Roboto:wght@300;400&display=swap">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
</head>

<body>
    <header>
        <div class="top-header">
            <div class="logo-search-bar">
                <div class="logo-div">
                    <img src="images/logo-mercado-liebre.svg" alt="Logo de MercadoLiebre" class="logo">
                </div>
                <div class="search-bar-container">
                    <form action="/" method="get">
                        <div class="search-lupa-bar-container">
                            <input class="search-bar" type="search" name="search-bar" placeholder="Buscar productos, marcas y más" >
                            <div class="lupa-container"><i class="fa fa-search lupa"></i></div>                
                        </div>
                    </form>
                </div>
            </div>            
            <p class="text"><i class="fa-solid fa-hand-holding-dollar"></i> Comprá en cuotas y sin tarjeta de crédito</p> 
        </div>          
        <nav>
            <div class="site-log-nav">                                         
                <ul class="text site-nav">
                    <li><a href="#">Ofertas</a></li>
                    <li><a href="#">Tiendas Oficiales</a></li>
                    <li><a href="#">Vender</a></li>
                    <li><a href="#">Ayuda</a></li>
                </ul>                    
                <ul class="text log-nav">
                    <li><a href="registro">Creá tu cuenta<i class="fa-regular fa-id-card"></i></a></li>                
                    <li><a href="ingreso">Ingresá<i class="fa-solid fa-right-to-bracket"></i></a></li>
                    <li><a href="#">Mis compras<i class="fa-solid fa-basket-shopping"></i></a></li>
                </ul>            
            </div>
        </nav>
        <div style="text-align: center">
            <i class="fas fa-bars burger-menu"></i>
        </div>
    </header>
    <main>
        <div class="register-form-container">
            <form action="/" method="get">
                <div class="register-form">
                    <h4>Registro de Usuario</h4>
                    <div class="text-type-input">
                        <input type="text" name="nombre" id="nombre" placeholder="Nombre" required> 
                    </div>
                    <div class="text-type-input">
                        <input type="text" name="apellido" id="apellido" placeholder="Apellido" required> 
                    </div>
                    <div class="text-type-input">
                        <input type="text" name="nombreusuario" id="nombreusuario" placeholder="Nombre de usuari@" required>
                    </div>
                    <div class="text-type-input">
                        <input type="email" name="email" id="email" placeholder="e-mail" required>
                    </div>
                    <div class="password-type-input">
                        <input type="password" name="password" id="password" placeholder="Contraseña" required>
                    </div>
                    <div class="password-type-input">
                        <input type="password" name="passwordconfirm" id="password-confirm" placeholder="Confirmar contraseña" required>
                    </div>
                    <div class="text-type-input">
                        <input type="text" name="domicilio" id="domicilio" placeholder="Domicilio" required>
                    </div>
                    <div class="date-type-input">
                        <h5>Fecha de nacimiento</h5>
                        <input type="date" name="fechanacimiento" id="fechanac" placeholder="Fecha de nacimiento"required >
                    </div>
                    <div class="user-profile">
                        <h5>Perfil de usuario</h5>
                        <div class="user-type">
                            <input type="radio" name="perfildeusuario" value="Comprador" checked>Comprador
                            <input type="radio" name="perfildeusuario" value="Vendedor">Vendedor
                        </div>
                    </div>
                    <div class="user-interests">
                        <h5>Categorías de interés</h5>
                        <div class="interests-checkbox">
                            <input type="checkbox" name="categoria" value="Electro">Electro
                            <input type="checkbox" name="categoria" value="Moda">Moda
                            <input type="checkbox" name="categoria" value="Hogar">Hogar
                            <input type="checkbox" name="categoria" value="Jugueteria">Juguetería
                            <input type="checkbox" name="categoria" value="Vida-sana">Vida sana
                        </div>
                    </div>
                    <div class="user-photo">
                        <h4>Foto de perfil</h4>  
                        <div class="file-type-input">
                            <input type="file" name="fotousuario" id="fotousuario" accept=".jpg" required>
                        </div>
                    </div>
                    <div class="register-button">
                        <input type="reset" name="reset" value="Borrar" id="boton">
                        <input type="submit" name="submit" value="Enviar" id="boton">
                    </div>
                </div>
            </form>
        </div>
        </main>
    <footer>
        <div class="footer-container">
            <article class="art-footer">
                <i class="fa-solid fa-credit-card footer-icon"></i>
                <h4>Pagá con tarjeta o efectivo</h4>
                <p class="footer-text">Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!</p>
            </article>
            <article class="art-footer">
                <i class="fa-solid fa-gift footer-icon"></i>
                <h4>Envío gratis desde $2.500</h4>
                <p class="footer-text">Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de Mercado Puntos.</p>
            </article>
            <article class="art-footer">
                <i class="fa-solid fa-user-shield footer-icon"></i>
                <h4>Seguridad, de principio a fin</h4>
                <p class="footer-text">¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre protegid@.</p>
            </article>
        </div>
            <article class="copyright">
                <p class="footer-text">Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
            </article>
    </footer>
</body>





